body{
    padding: 0;
    margin:0;
    font-family: 'Bebas Neue', cursive;
font-family: 'Kaisei HarunoUmi', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
    
}

.banner-container{
    margin-top: -20px;
    background-image: url(./images/donation13.jpg);
    height: 670px;
    background-repeat: no-repeat;
   
    background-position: top center;
    background-size: 1350px;
    text-align: center;
    
    
}



.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.banner-text h1{
    color: white;
    font-size: 65px;
    margin: 0;
}
.banner-text p{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.banner-text button{
    
    padding: 16px 12px;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 5px;
    border: 0;
    background-color: rgba(255, 89, 89, 1);
    color: white;
}

.money-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.money-container{
    text-align: center;
    margin-top: 130px;
}

.money-container h1{
    font-size: 45px;
    font-weight: 700;
}
.money-container p{
    font-size: 18px;
    font-weight: 400;
}


.money-title{
   color: 
   rgba(112, 112, 112, 1);
    width: 135px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 50px 22px 60px 22px;
    background-color: rgba(250, 250, 250, 1);
}

.choice-money{
    border: 2px solid 
    rgba(255, 89, 89, 1);
    color: 
    rgba(255, 89, 89, 1);
    background-color: 
    rgba(255, 238, 238, 1);
}

.money-container input{
    border: none;
}

.wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 850px;
    background: #fff; 
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    margin:0 auto;
}

.wrapper .input-data{
    
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input{
    text-align: center;
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
    font-size: 18px;
    font-weight: 400;
}

.donete-bt button{

    padding: 500px;
    
}

.donate-plan-container{
    display: flex;
    margin: 0 157px;
    
}
.donate-plan-box{
    border:0;
    width: 360px;
    height: 300px;
    margin: 50px 24px 130px 24px;
    padding: 63px 23px 1px 23px;
    border-radius: 5px;
   
}

.donate-plan-box h1{
    font-weight: 600;
    font-size: 24px;
}
.donate-plan-box p{
    font-weight: 400;
    font-size: 16px;
}

.color-box-1{
    background-color: rgba(79, 157, 166, 0.1)
}
.color-box-2{
    background-color: rgba(255, 89, 89, 0.1);
}
.color-box-3{
    background-color: rgba(255, 244, 214, 1)
}

.help-container{
    
    background-image: url(./images/donation12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1350px;
    height: 1000px;
    position: relative;
    line-height: 2;
}
.help-box{
    width: 500px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top:300px;
    left: 700px;
    border-radius: 10px;
    padding: 50px 50px;
    
}

.help-btn button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color:  rgba(255, 89, 89, 1);
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
        

.update-box{
    margin:50px 315px 130px 315px;
    width: 809px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: 
    rgba(255, 244, 214, 1);
}

.update-box input{
    width: 275px;
    height: 43px;
    border-radius: 5px 0 0 5px;
    border: 1px solid gray;
}
.update-btn button{
    width: 157px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background-color: 
    rgba(255, 89, 89, 1);
    color: white;
    border: 0;
    border-radius: 0 5px 5px 0;
}

footer{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: #0B0D17;
    color: white;
    padding: 15px 0;
}

footer h2{
    color: red;
}









